<h1>Employee Tracker</h1>

<ul>
  {{#each employees}}
  <li>
    <p>
      {{this.id}}. {{this.first_name}} {{this.last_name}} {{this.role_id}}  {{this.manager_id}}

      <button data-employeeid="{{this.id}}" class="delemployee">Delete Employee</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Add an Employee</h2>
<form id="createemployee" class="button-size">
  <textarea type="text" name="first_name" placeholder="First Name"></textarea>
  <textarea type="text" name="last_name" placeholder="Last Name"></textarea>
  <textarea type="text" name="role_id" placeholder="Role ID"></textarea>
  <textarea type="text" name="manager_id" placeholder="Manager ID"></textarea>
  <button type="submit">Save Employee</button>
</form>

<h2>Update an Employee</h2>
<form id="updateemployee" class="button-size">
  <select name="id">
		{{#each employees}}
      <option value="{{this.id}}">{{this.first_name}}, {{this.last_name}}, {{role_id}}, {{manager_id}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="first_name" placeholder="Updated First Name"></textarea>
  <textarea type="text" name="last_name" placeholder="Updated Last Name"></textarea>
  <textarea type="text" name="role_id" placeholder="Updated Role ID"></textarea>
  <textarea type="text" name="manager_id" placeholder="Updated Manager ID"></textarea>
  <button type="submit">Update Employee</button>
</form>

<script type="text/javascript">
  $(".delemployee").on("click", function(event) {
    // Get the ID from the button.
    // This is shorthand for $(this).attr("data-employeeid")
    var id = $(this).data("employeeid");

    // Send the DELETE request.
    $.ajax("/api/employees/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#createemployee").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=employee] will find an element with a "name" attribute equal to the string "employee"
    var newemployee = {
      first_name: $("#createemployee [name=first_name]").val().trim(),
      last_name: $("#createemployee [name=last_name]").val().trim(),
      role_id: $("#createemployee [name=role_id]").val().trim(),
      manager_id: $("#createemployee [name=manager_id]").val().trim()
    };

    // Send the POST request.
    $.post("/api/employees", newemployee)
    .then(
      function() {
        console.log("created new employee");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updateemployee").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
  
    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $("[name=id]").val().trim();
    console.log(id);

    var updatedemployee = {
      first_name: $("#updateemployee [name=first_name]").val().trim(),
      last_name: $("#updateemployee [name=last_name]").val().trim(),
      role_id: $("#updateemployee [name=role_id]").val().trim(),
      manager_id: $("#updateemployee [name=manager_id]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/employees/" + id, {
      type: "PUT",
      data: updatedemployee
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
